@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.common-modal .modal-dialog {
    color: black;
    display: flex;
    max-width: 700px; /* Adjust this value to make the modal smaller */
    align-items: center; 
    min-height: calc(100% - 5rem); /* Adjusts for responsiveness */
}

.common-modal .modal-content {
    border-radius: 10px;
}

.common-modal .modal-header {
    color: black;
}

.common-modal .modal-footer {
    border-radius: 10px;
    border-top: none;
}

.common-modal .modal-body {
    margin: 5px;
}

.common-modal .modal-body ul {
    list-style: none;
    padding: 0;
}

.common-modal .modal-body li {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex; /* Align icon and text */
    align-items: center; /* Center vertically */
}

.common-modal .modal-body li a {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, font-weight 0.3s ease; /* Add transitions for color and font-weight */
}

.common-modal .modal-body li a:hover {
    color: #1a3b5d;
    font-weight: 600;
}

.common-modal .modal-body li i {
    margin-right: 10px; /* Space between icon and text */
    color: black; /* Optional: change icon color */
}


.modal-body img {
    max-width: 100%;
    height: auto;
}

body {
    background: url(img/bg-web.png) no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Memastikan tinggi body 100% dari viewport */}

.container {
    text-align: center;
    padding: 50px 0;
    flex: 1;
    margin: 0;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-bottom: 15px;
}

.container img {
    margin-bottom: 15px;
}

.container h1 {
    color: white;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
}

.container h2 {
    color: white;
    margin: 10px 0 10px;
    font-size: 24px;
}

a {
    text-decoration: none; 
    color: black; 
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: grid-template-columns 0.5s ease, gap 0.5s ease, padding 0.5s ease;
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto;
}

.app {
    position: relative;
    overflow: hidden;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    padding: 0;
    background: white;
    border-radius: 30px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.app a {
    color: black; 
    text-decoration: none !important; 
}

.app a:hover {
    text-decoration: none; 
}

.app:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    background-color: #1a3b5d; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.app:hover .overlay {
    opacity: 1;
}

.description {
    padding: 10px;
    color: white;
    font-size: 12px;
    text-align: center;
}

.app img {
    width: 80px;
    height: 80px;
    
}

.app p {
    margin: 10px 0 0;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.footer {
    color: white;
    background: #1a3b5d;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
}

.footer .contact, .footer .map, .footer .sitemap {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    box-sizing: border-box;
}

.footer .contact h3, .footer .map h3, .footer .sitemap h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer .sitemap .sitemap-columns {
    display: flex;
    justify-content: space-between;
}

.footer .sitemap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 48%;
}

.footer .sitemap ul li {
    margin-bottom: 10px;
}

.footer .sitemap ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer .sitemap ul li a:hover {
    text-decoration: underline;
}

.responsive-map {
    margin-top: 5px;
    width: 100%;
    height: 200px;
}

@media (max-width: 1280px) {
    .app-grid {
        grid-template-columns: repeat(3, minmax(140px, 1fr));
        justify-content: center;
        gap: 40px;
        padding: 0 16px;
        transition: grid-template-columns 0.5s ease, gap 0.5s ease, padding 0.5s ease;
    }
}

@media (max-width: 768px) {
    .app-grid {
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        transition: grid-template-columns 0.5s ease, gap 0.5s ease, padding 0.5s ease;
        justify-content: center;
        gap: 20px;
        padding: 0 16px;
    }

    .app-grid .app {
        width: 100%;
        max-width: 210px;
        max-height: 170px;
        margin-bottom: 20px;
    }

    .responsive-map {
        width: 100%;
        height: 200px;
    }

    .footer .sitemap .sitemap-columns {
        flex-direction: column;
    }

    .footer .sitemap ul {
        width: 100%;
        margin-bottom: 20px;
    }
    
    body {
        background: url(img/bg-web.png) no-repeat center center fixed;
        background-size: cover; /* Atau 'contain', tergantung kebutuhan */
        height: 100%; /* Mengatur tinggi otomatis untuk konten */
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 480px) {
    .responsive-map {
        height: 150px;
    }
}

body.modal-open {
    overflow: hidden;
    padding-right: 15px;
}
